.container{
    margin: auto;
    max-width: 800px;
}


.basic_section{

    padding: 10px;
    display: flex;

}

.profile_image{
    width: 40%;
}

.profile_info{
    width: 60%;
    padding: 20px;
    font-family: 'Roboto';
    line-height: 2;
}

.info_div{
    display: flex;
}

.info_title{
    padding: 5px;
    font-size: 16px;
    width: 50%;
}

.info_content{
    font-size: 18px;
    font-weight: 600;
    width: 50%;
}

.tab_section{
    padding: 10px;
    display: flex;
    flex-flow: column;
    min-height: 300px;
    border: 1px solid #dee2e6;
    overflow: auto;
}
.activity_info{

    display: flex;
    padding: 5px;
    justify-content: space-between;
    border: 1px solid #dee2e6;
}

.activity_info div{
    padding: 5px;
    font-size: 16px;
}

.posts_info{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-flow: column;
}

.media_section{
    padding: 10px;
    display: block;
    min-height: 300px;
    border: 1px solid #dee2e6;
    overflow: auto;
}

.media_item{
    float: left;
    margin: 5px;
    position: relative;
    
}

.post_image{
    width: 115px;
}

.media_mask{
    width: 100%;
    bottom: 7px;
    background-color: #000000ba;
    color:white;
    position:absolute;
    text-align: center;
    font-size: 12px;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
}

.posts_content{
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.posts_content a{
    color: #0f75bc;
}

.activity_title, .posts_created_at{
    padding: 5px;
    font-size: 14px;
}

.posts_list{
    display: flex;
    padding: 5px;
}



.reviews_section{
    padding: 10px;
    display: flex;
    flex-flow: column;
}

.activity_btn{
    font-size: 15px;
    font-weight: 600;
    cursor:pointer;
}
.activity_btn:hover{
    color: #0f75bc;
    
}
.emoticon:hover{
    transform: scale(1.35);
    transition: transform 0.15s ease-out;
  }

